@page {
    margin: 10%;
    @top-left { content: "© ISO/IEC"; }
    @bottom-right { content: counter(page); }
}
@page title {
    @top-left { content: normal; }
    @bottom-right { content: normal; }
}

@media screen {
    body { max-width: 7in; }
}

@media print {
    /* Current PDF output from browsers doesn't preserve links, so avoid
       the affordance that says the text is a link. */
    a[href] { color:black; text-decoration:none; }
}

/* Needed to make the <cxx-titlepage>'s vertical spacing work. */
html, body {height: 100%}

p {margin-top: .5em; margin-bottom: .5em}
p:first-child, ul, ol {margin-top: 0}

aside { float: right; max-width: 40%;
        margin: 1ex;
        border: 1px solid black;
        padding: 1ex; }

del {text-decoration: line-through; color: #8B0040;}
ins {text-decoration: underline; color: #005100;}

pre { margin-left: 1em; }

cxx-clause { page-break-before: always; }
@media not paged {
    cxx-clause, cxx-toc { margin-top: 3em; }
}
